Package: libloragw-dev
Source: sx1302-hal
Version: 2.1.2-1
Architecture: arm64
Maintainer: Michales Michaloudes <korgie@gmail.com>
Installed-Size: 536
Section: net
Priority: optional
Homepage: https://github.com/Lora-net/sx1302_hal
Description: Development files for the SX1302 LoRa concentrator HAL
 Static library (libloragw.a) and headers for building applications
 against the Semtech SX1302/SX1303 HAL.
